body {
    background-color: rgb(0, 0, 0);
}


.searchbox {
    position: absolute;
    right: 20px;
    top: 10px;
}

.categorybutton {
    padding: 10px 18px;
    margin: 5px 0;
    border: none;
    border-radius: 4px;
    background-color: #333;
    color: #ffffff;
    font-size: 16px;
    font-family: "Zen Kurenaido", sans-serif;
    cursor: pointer;
    transition: 0.2s;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);

}

header {
    gap: 10px;
    /* ボタン同士の間隔 */
    margin: 20px 0;
    width: 100%;
}

h1 {
    color: rgb(95, 95, 95);
    text-align: center;
    font-size: 60px;
}

.top-header {
    height: 100px;
}

.button-cover {
    text-align: center;
    justify-content: center;

}

.kokopi-news-logo {
    height: 50px;
    /* 高さを固定 */
    width: auto;
    /* アスペクト比維持 */
    position: absolute;
    left: 20px;
    width: auto;
    height: 200px;
    top: -20px;

}

/* ホバーしたとき */
button:hover {
    background-color: #e5e5e5;
}

/* クリックしたとき */
button:active {
    background-color: #dcdcdc;
}

/* 選択中のボタン（あとでJSで付けられる） */
button.active {
    background-color: #0078d4;
    color: white;
}



.article {
    background-color: #333;
    border-radius: 12px;
    padding: 20px;
    color: #fff;
    /* 通常の文字は白 */
    width: 1000px;
    margin: 5px auto;
}

/* リンクも白にする */
.article a {
    color: #fff;
    text-decoration: none;
    /* 必要なら下線を消す */
}

/* ホバー時の色も調整できる */
.article a:hover {
    color: #ddd;
}



.article img {
    text-align: center;
    height: 130px;
    width: 200px;

}

.article h1 {
    text-align: left;
    font-size: 25px;
    display: inline-block;
    width: 1000px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
}




ul {
    list-style: none;
}